//output:login.html
//please apply your changes to the .jade file, not the .html file!
doctype html
html(lang = "de")

  head
    title Klassenwebsite-Login
    meta(charset = "utf-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    link(rel = "stylesheet", href = "sass/style.css")
    link(rel = "stylesheet", href = "https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="shortcut icon", type="image/x-icon", href="pictures/favicon.ico")
  
  body#b(onresize = "r()", onload="document.body.style.opacity='1'")
    #background
  
      aside#header
        h1#h 9c
        form#form
          button#navB(type = "button", onClick = "navBar()") nav
        #links
          <i class="material-icons">account_circle</i>Login <br><br><br><br>
    
      #content   
         section.se#se1
           h1 <i class="material-icons">home</i> Herzlich Willkommen auf der Klassenwebsite der Klasse 9C</h1> 
           form
             label(for = "username") Username:
               input#username(name = "username")
             label(for = "password") Password:
               input#password(name = "password")
             button#loginB(type = "button") <i class="material-icons">done</i>
         
         
        footer#foot
          | Diese Website wurde von Thomas, Andi und Vogte erstellt. Sourcecode auf<a href = "https://github.com/TomBom4/SchoolClassWebsite" target="_blank">Github.com</a>einsehbar
        
        
  script(type = "text/javascript" src = "script/respond.js")
