/*the output of the sass files is style.css. Please apply your changes to the right sass file and compile style.sass afterwards,
 * don't touch the style.css file by hand!
 * Please apply your changes to an outsiurces sass file if possible. Feel free to creat new sass files and import them here in order to source
 * some things out, (if it makes sense to do this) */
/* Here you can edit the color theme of the website. Of course the svg image won't be affected.
 * In order to edit its color open it as xml code, goto line 55 and edit the next hex-code you'll find */
/* some more example colors:
 *  $primary-color-dark:       #263238
 *  $secondary-color-dark:     #455a64
 *  $primary-color-light:      #00bfa5
 *  $text-color-light:         #ffffff
 *  $primary-text-dark:        #212121
 *
 *
 *
 *  $primary-color-dark:       #1976D2
 *  $secondary-color-dark:     #2196F3
 *  $primary-color-light:      #FFC107
 *  $text-color-light:         #FFFFFF
 *  $primary-text-dark:        #212121 */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-in; }

#background {
  background: url(../pictures/9c.svg) white;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 25% auto;
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

aside {
  float: left;
  width: 10%;
  min-width: 120px;
  position: fixed;
  background: #006064;
  height: 100%;
  white-space: pre-line;
  overflow: hidden;
  z-index: 99;
  box-shadow: 0 0 5px #76ff03;
  transition: height 0.5s ease-in-out; }
  aside #links {
    position: absolute;
    top: 10%;
    left: 6%;
    white-space: pre-line;
    color: #FFFFFF; }

#content {
  float: right;
  width: 90%;
  box-shadow: 0 0 10px black;
  overflow-x: hidden;
  margin-top: 300px;
  background: #37474f; }

.se {
  white-space: pre-line;
  color: white;
  text-align: center;
  font-size: 120%;
  padding: 2%;
  background: #37474f;
  margin-bottom: 2px;
  box-shadow: 0 0 7px #76ff03; }
  .se .p {
    opacity: 0.85;
    text-align: left;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    background: #FFFFFF;
    color: #212121;
    padding: 5%;
    box-shadow: 0 0 5px #76ff03;
    /* In order to let another kind of box in the .se look like the p just  write "@extend .p" into its style */ }

#se2 .line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  color: #212121; }
  #se2 .line .p {
    margin-right: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0;
    padding: 0.5%;
    width: 18%;
    min-width: 170px;
    flex-basis: auto; }

footer {
  clear: both;
  text-align: center;
  width: 100%;
  float: right;
  background: #006064;
  color: #FFFFFF; }

@media (max-width: 850px) {
  #header {
    float: normal;
    width: 100%;
    height: 60px; }

  #content {
    width: 100%;
    margin-top: 0; }

  #background {
    margin-top: 60px; }

  #navB {
    visibility: visible; }

  #links {
    visibility: collapse; }

  #h {
    visibility: visible; }

  #foot {
    font-size: 90%; } }
aside h1 {
  font-size: 350%;
  padding: 0;
  text-align: left;
  background: #006064;
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  visibility: collapse;
  color: #FFFFFF; }

#links a {
  color: #FFFFFF;
  font-size: 100%;
  padding: 1%;
  text-decoration: none;
  transition: color 0.2s; }
  #links a:hover {
    color: #76ff03; }

#form {
  visibility: collapse;
  position: absolute;
  top: 0%;
  left: 40%;
  right: 40%;
  width: 20%;
  height: 30px; }

#navB {
  border: 1px solid #76ff03;
  background: #FFFFFF;
  font-size: 150%;
  width: 100%;
  height: 100%;
  transition: background 0.5s, color 0.5s;
  transition-timing-function: ease-in-out; }

#navB:hover {
  background: #76ff03;
  color: #FFFFFF; }

#loginB {
  border: 1px solid #76ff03;
  border-radius: 100%;
  padding: 1px;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  color: #212121; }

#loginB:hover {
  border: 1px solid #FFFFFF;
  background: #76ff03;
  color: #FFFFFF; }

.se h1 {
  font-size: 150%;
  opacity: 0.85;
  color: #76ff03;
  text-decoration: underline; }
.se h2 {
  font-size: 110%;
  opacity: 0.85;
  color: #FFFFFF;
  text-align: left;
  margin-left: 5%; }
.se a {
  color: blue; }

#schedule {
  width: 60%; }

footer a {
  color: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
