<h2>Termine</h2>
<hr class = "small">
<section>
<% @events.reverse.each do |event| %>
<div class = "event">
<%= event.event %> <br>
<%= event.date %> <br><br>
<%= button_to "löschen", event, :method => "delete" %>
</div>
<% end %>

<div class = "event">
  <%= link_to "new", '/events/new' %>
</div>
</section>
