<h2>Termine</h2>
<hr class = "small">
<section>
<% @events.reverse.each do |event| %>
<div class = "event">
<%= event.event %> <br>
<%= event.date %> <br><br>
<%= button_to "löschen", event, :method => "delete" %>
</div>
<% end %>

<div class = "buttonNew">
  <%= link_to 'add', '/events/new', class: "material-icons" %>
</div>
</section>
