<h2>Hausaufgaben</h2>
<hr class = "small">
<section>
<% @homeworks.reverse.each do |homework| %>
<div class = "event">
<%= homework.homework %> <br>
<%= homework.date %> <br><br>
<%= button_to "löschen", homework, :method => "delete" %>
</div>
<% end %>

<div class = "buttonNew">
  <%= link_to 'add', '/homeworks/new', class: "material-icons" %>
</div>
</section>
