<header id = "header">
  <button id = "b" class="material-icons">menu</button>
  <h1>Klasse 9c Gymnasium Dorfen</h1>
  <div id = "search">
    <form name = "sform">
      <input type = "text" id = "search" class = "string required">
    </form>
    <button id = "searchbutton">Los</button>
    <button id = "reset">reset</button>
  </div>
</header>
